header {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    max-height: 10vh;
    padding-bottom: 50px;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    max-height: 80vh;
    text-align: center;
    padding-top: 30px;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    max-height: 10vh;
    text-align: center;
}